<!doctype html>

{% load staticfiles %}
{% load widget_tweaks %}

<html lang="pt">
  <head>
    <title>GradeExata - Alteração da senha</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">
  </head>
  <body>
    <form class="form-signin" method="post">
      {% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'img/alter_password.jpeg' %}" alt="" width="300" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Alterar senha</h1>
      </div>
      {% for message in messages %}
            <p id="messages">{{message}}</p>
      {% endfor %}
      <div class="form-label-group">
        {% render_field form.new_password1|append_attr:"autofocus=autofocus" placeholder="Nova senha" class="form-control"%}
        <label for=id_new_password1>Nova senha</label>
      </div>
      <div class="form-label-group">
        {% render_field form.new_password2|append_attr:"autofocus=autofocus" placeholder="Confirmação da nova senha" class="form-control"%}
        <label for=id_new_password2>Confirmação da nova senha</label>
      </div>
      <!--br><span class="helptext"><ul><li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha habitualmente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></span>-->
      <button class="btn btn-lg btn-primary btn-block" type="submit">Alterar senha</button>
    </form>
  </body>
</html>
