{% load staticfiles %}
{% load widget_tweaks %}


<head>
    <title>GradeExata Login</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

{%block body%}
<body>
<div class="container">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/udf.png' %}" alt="" width="300" height="100">
        <h2 class="form-signin-heading">Por favor, faça login</h2>
        {% include 'partials/messages.html' %}
        <label for="username" class="sr-only">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Informe o usuário" required
               autofocus>
        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Informe a senha"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="{% url 'reset_password' %}">Esqueceu sua senha?</a>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock body %}