{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}

    Gerar Grade - {{ block.super }}

{% endblock title %}

{% block body %}
<div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img/clipboard.svg' %}" alt="" width="50" height="50">
        <h2>Grade Horária</h2>
</div>
<div class="container">
    {% include 'partials/messages.html' %}
   <table class="table table-bordered">
       <!--<caption>Lista de horários</caption>-->
       <thead class="thead-light">
            <tr>
              <th scope="col">Horário</th>
              <th scope="col">Segunda-feira</th>
              <th scope="col">Terça-feira</th>
              <th scope="col">Quarta-feira</th>
              <th scope="col">Quinta-feira</th>
              <th scope="col">Sexta-feira</th>
              <th scope="col">Sabádo</th>
            </tr>
       </thead>
       <tbody>
			<tr>
                <th scope="row">1</th>
                {% for field in resultado %}
                    <td>
                        Sala: {{ field.sala }} {{ field.cd_sala.ds_sala }} <br/>
                        Turma: {{ field.oferta.turma.ds_turma}} {{field.cd_turma.ds_turma}}<br/>
                        Professor: {{ field.professor }} {{field.cd_professor.nm_professor}} <br/>
                        Oferta: {{ field.oferta.id_oferta }} {{field.cd_oferta_id}}<br/>
                        Disciplina: {{ field.oferta.disciplina.sigla_disciplina }} {{field.cd_oferta.disciplina.sigla_disciplina}}
                    </td>
                    {%if forloop.counter == 6%}
                        <tr/>
                        <tr>
                        <th scope="row">2</th>
                    {% endif %}
                {% endfor %}
            </tr>
       </tbody>
       <tfoot>
        <td colspan="7" style="text-align:center; background-color: lightgray; padding: 5px;font-size: 110%">Solução gerada na Geração: {{geracao}} {{cd_geracao}}</td>
       </tfoot>
   </table>
</div>
{% endblock body %}
