{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Disciplinas</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Disciplina</th>
                            <th>Sigla da Disciplina</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in disciplinas %}
                            <tr>
                                <td>{{ p.id_disciplina }}</td>
                                <td>{{ p.ds_disciplina }}</td>
                                <td>{{ p.sigla_disciplina }}</td>
                                <td>
                                    <a href="{% url 'gradehoraria:editar_disciplina' p.id_disciplina %}" class="btn btn-info btn-sm">Editar</a>
                                    <a href="{% url 'gradehoraria:deleta_disciplina' p.id_disciplina %}" class="btn btn-danger btn-sm confirm-delete" data-toggle="modal", data-target="#confirmDeleteModal" id="delete-{{ p.id_disciplina }}">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'gradehoraria:adicionar_disciplina' %}" class="btn btn-primary" role="button">Adicionar Disciplina</a>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>
{% endblock body %}