{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Horários</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Horário</th>
                            <th>Dia da Semana</th>
                            <th>Turno</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in horarios %}
                            <tr>
                                <td>{{ p.id_horario }}</td>
                                <td>{{ p.get_horario_display}}</td>
                                <td>{{ p.get_dia_semana_display }}</td>
                                <td>{{ p.get_turno_display }}</td>
                                <td>
                                    <a href="{% url 'gradehoraria:editar_horario' p.id_horario %}" class="btn btn-info btn-sm">Editar</a>
                                    <a href="{% url 'gradehoraria:deleta_horario' p.id_horario %}" class="btn btn-danger btn-sm confirm-delete" data-toggle="modal", data-target="#confirmDeleteModal" id="delete-{{ p.id_horario }}">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'gradehoraria:adicionar_horario' %}" class="btn btn-primary" role="button">Adicionar Horario</a>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>
{% endblock body %}